<nav class="navbar">
  <div class="container">
    <div class="navbar-left">
      <a class="navbar-logo" href="#">
        <img src="assets/logo.svg" alt="Logo" />
      </a>
      <ul class="navbar-items">
        <li class="navbar-item"><a href="#">Features</a></li>
        <li class="navbar-item"><a href="#">Pricing</a></li>
        <li class="navbar-item"><a href="#">Resources</a></li>
      </ul>
    </div>
    <div class="navbar-right">
      <button id="btnLogin" class="navbar-button">Login</button>
      <button id="btnSignUp" class="navbar-button">Sign Up</button>
    </div>
  </div>
</nav>
